# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec
*.exe

# Environment
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Logs
*.log
